
.fh5co_suceefh5co_height_position_absolute_font {
    width: 95% !important;
    top: 70% !important;
}

.fh5co_suceefh5co_height_position_absolute_font_2 {
    width: 95% !important;
}

.fh5co_news_img {
    margin-bottom: 15px;
}

.py-3 {
    padding-top: 0 !important;
    padding-left: 10px;
}
